<div class="container">

  <h2> This is the switch app </h2>
  
  <img src="https://images.crowdcube.com/unsafe/fit-in/178x178/filters:fill(fff)/https://files-crowdcube-com.s3.amazonaws.com/files/pitch_pics/original/202010/blob_2aa74910b3a82ccea9d1b633a2dbbbbf">  

  <div class="my-4"> 
  <p class="mt-5"> This is a button imported </p>
  <lib-base-btn></lib-base-btn>
  <div>
  
  <div class="my-4"> 
 
  <p> This is a pagination component </p>
  
  <lib-base-pagination></lib-base-pagination>
  <div>


  <div class="my-4"> 
 
  
  <p> This is an accordion component </p>
  
    <lib-base-accordion></lib-base-accordion>
  <div>

    <div class="row mt-4">
      <div class="col-3 mb-3 " *ngFor="let data of userRecord.appointments">
        <div class="d-flex card p-2">
          <img [src]="data?.avatar" width="40px" height="40px" class="mr-5" alt="">
          <div>
            <p> {{data?.name}} </p>
            <p> {{data?.email}} </p>
          </div>
        </div>

      </div>
    </div>
  
</div>